.layout {
    width: 1200px;
    margin: 0 auto;
    margin-top: 50px;
}

.layout__button-home {
    cursor: auto;
}

.layout__button-home_active {
    cursor: pointer;
}

.layout-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
}

.user-button {
    width: 30px;
    height: 30px;
    background-color: transparent;
    cursor: pointer;
    border: none;
}

.user-icon {
    width: 30px;
    height: 30px;
}

.header-user {
    display: flex;
    flex-direction: row;
    gap: 10px;
}